<!DOCTYPE html>
<html lang="en">
<title>Dash Config Page</title>
<script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
<script src="jquery-3.6.0.min.js"></script>
<script src="common.js"></script>
<body>
<div id="currentRaces">
    <table id="currentRaceTable">
        <tr id="seedRow">
            <td></td>
            <td>Track Id</td>
            <td>Track Location</td>
        </tr>
    </table>
</div>
<div>
    <br><br>
    <label for="trackCode">    Track Id:</label><input type="text" id="trackCode" name="raceId"><br><br>
    <label for="carNumber">Car Number:</label><input list="carNumberPicker" id="carNumber" name="carNumber"><br><br>
    <datalist id="carNumberPicker">
    </datalist>
    <label for="teamName">Team/Driver Name:</label><input type="text" id="teamName" name="teamName"><br><br>
    <label for="raceName">Race Name:</label><input type="text" id="raceName" name="raceName"><br><br>
    <label for="driverName">Current Driver:</label>
    <input type="text" id="driverName" name="driverName"> (For multi-driver races)<br><br>

    <button onclick="handleSubmit()">submit</button>
</div>
</body>
<script>
    var channelId = ""
    window.Twitch.ext.onAuthorized(async function(auth) {
        channelId = auth.channelId;
        const response = await fetch(backendServer + "/config/" + channelId);
        const payload = await response.json();
        if (response.status === 200) {
            $("#trackCode").val(payload.trackCode);
            $("#carNumber").val(payload.carNumber);
            $("#teamName").val(payload.teamName);
            $("#raceName").val(payload.raceName);
            $("#driverName").val(payload.driverName);
        }
        loadActiveRaces()
    });

    const loadActiveRaces = async function () {
        const response = await fetch(backendServer  + "/racelist/");
        const payload = await response.json()
        window.Twitch.ext.rig.log("race list  " + JSON.stringify(payload))
        for(var index in payload) {
            var entry = payload[index]
            let clone = $("#seedRow").clone();
            let raceId = entry["raceId"].split(":")[1]
            let trackCode = entry["trackCode"]
            let button = clone.find("td:nth-child(1)");
            button.html("<button value='" + trackCode + "'>Select</button>")
            clone.find("td:nth-child(2)").html(trackCode)
            clone.find("td:nth-child(3)").html(entry["trackName"])
            clone.appendTo("#currentRaceTable")
            button.click(function() {
                $("#trackCode").val(trackCode);
                loadRaceField(trackCode);
            });
        }
    }

    const loadRaceField = async function(trackCode) {
        const response = await fetch(backendServer  + "/racefield/" + trackCode);
        const payload = await response.json()
        const picker = $("#carNumberPicker")
        const carLookup = []
        picker.children().remove()
        for(var entry in payload) {
            const teamName = payload[entry].teamName
            carLookup[payload[entry].carNumber] = teamName
            picker.append($('<option>', {
                value: payload[entry].carNumber,
                text: payload[entry].carNumber + ":" + teamName,
            }));
        }
        $("#carNumber").change(function(val) {
            $("#teamName").val(carLookup[val.target.value])
        })
    }

    const handleSubmit = async function () {
        const postJson = {
            "channelId": channelId,
            "trackCode": $("#trackCode").val(),
            "raceName": $("#raceName").val(),
            "teamName": $("#teamName").val(),
            "carNumber": $("#carNumber").val(),
            "driverName": $("#driverName").val(),
        }

        window.Twitch.ext.rig.log("sending  " + JSON.stringify(postJson))

        const response = await fetch(backendServer + "/configure", {
            method: 'POST',
            mode: 'cors',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(postJson),
        });
        await response.json()
        window.Twitch.ext.rig.log("got status  " + response.status)

        // todo : paint an OK if it stuck
    }
</script>


</html>