<!DOCTYPE html>
<html lang="en">
<title>Dash Config Page</title>
<body>
<div id="currentRaces">
    <table id="currentRaceTable">
        <tr id="seedRow">
            <td></td>
            <td>Track Id</td>
            <td>Track Location</td>
        </tr>
    </table>
</div>
<div>
    <br><br>
    <label for="trackCode">    Track Id:</label><input type="text" id="trackCode" name="raceId"><br><br>
    <label for="carNumber">Car Number:</label><input list="carNumberPicker" id="carNumber" name="carNumber"><br><br>
    <datalist id="carNumberPicker">
    </datalist>
    <label for="teamName">Team/Driver Name:</label><input type="text" id="teamName" name="teamName"><br><br>
    <label for="raceName">Race Name:</label><input type="text" id="raceName" name="raceName"><br><br>
    <label for="driverName">Current Driver:</label>
    <input type="text" id="driverName" name="driverName"> (For multi-driver races)<br><br>

    <button id="submit">submit</button>
</div>
</body>
<script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
<script src="jquery-3.6.0.min.js"></script>
<script src="common.js"></script>
<script src="config.js"></script>
</html>