<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
    <script>
        const fetchTime = async () => {
            const response = await fetch('https://dash-srmt5evhka-uc.a.run.app/time');
            const timeData = await response.json(); //extract JSON from the http response
            document.getElementById("time").innerText = timeData.hour + ":" + timeData.minute + ":" + timeData.second
        }
    </script>
</head>
<body onload="setInterval(fetchTime, 1000)">
   <div id="time">...awaiting data</div>
</body>
</html>