<!DOCTYPE html>
<html lang="en">
    <title>Live Racing Display</title>
    <body>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">

    <div id="identification">
        <table id="raceInfoTable">
            <tr id="raceInfo">
                <td class="dash-heading">Car #<span id="lpi-carNumber">-</span></td>
                <td class="dash-heading" id="lpi-teamName">unknown</td>
                <td class="dash-heading">Driver: <span id="lpi-driverName"></span></td>
                <td class="dash-heading" style="width: 50%" id="lpi-raceName">Race not connected</td>
            </tr>
        </table>
    </div>
    <div id="race">
        <table>
            <tr>
                <td class="dash-big">P<span id="lpi-positionInClass"></span></td>
                <td class="dash-big">P<span id="lpi-position"></span></td>
                <td class="dash-big" id="lpi-lastLapTime"></td>
                <td class="dash-big" id="lpi-fastLapTime"></td>
                <td class="dash-big">gap : <span id="lpi-gap"></span></td>
                <td class="dash-big" id="lpi-lapCount"></td>
            </tr>
            <tr>
                <td class="dash-subtitle">class</td>
                <td class="dash-subtitle">overall</td>
                <td class="dash-subtitle">last lap</td>
                <td class="dash-subtitle">fast lap</td>
                <td class="dash-subtitle">To: #<span id="lpi-carAhead">-</span></td>
                <td class="dash-subtitle">laps</td>
            </tr>
        </table>
    </div>
    <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
    <script src="jquery-3.6.0.min.js"></script>
    <script src="common.js"></script>
    <script src="video_overlay.js"></script>
</body>
</html>